<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col s3">
        
        </div>
        <div class="col s6">
            <div class="card-panel"><p class="logintext">Please login Using</p>
            <a class="waves-effect waves-light btn red lighten-1 loginbtn" ng-click="googleLogin()">Google</a>
            <br>
            <a class="waves-effect waves-light btn blue lighten-1 loginbtn" ng-click="facebookLogin()">Facebook</a>
         </div>
        </div>
        <div class="col s3">
        
        </div>
    </div>
</div>