<div class="container">
    <div class="col s4 offset-col s4">
        <br>
            <div class="card-panel">
                <h5 align="center">Admin Login</h5>
            </div>
            <br><br>
        <form>
            <input type="email" placeholder="Admin Username" ng-model="username" id="username" required>
              <br>
            <input type="password" placeholder="Admin password" ng-model="password" id="password" required>
            
              <br><br>
            <div class="center">
                <input type="submit" class="btn red lighten-1 btn-large" ng-click="login()" value="SignIn">
            </div>
        </form>
        

    </div>
</div>